@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&displaay=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'inter',sans-serif;
}
:root{
    --primary-color:#6366f1;
    --accent-color:#3f83f8;
    --text-color:#333333;
    --link-color:#2563eb;
    --background-color:#ffffff;
    --light-gray:#8b8b8b;
    --gray:#808080;
    --dark-gray:#555;
}
body{
    width:100vw;
    height:100vh;
    text-align: center;
    padding: 0.1rem;
    background-color: var(--background-color);
}
.header-content{
    max-width: 1280px;
    margin:0 auto;
display:flex;
justify-content: space-between;
align-items:center;
padding:1rem;

}
.logo{
    display:flex;
   align-items: center;
   font-size: 2rem;
   font-weight:bold ;
   color:var(--text-color);
   text-decoration: none;
   gap:0.625rem;
}
.logo-icon{
height:3.5rem;
width:4.5rem;
}
.logo-text{
font-size:1.8rem;
}
.nav{
    display:none;
    gap:1.5rem;

}
@media screen and (min-width:768px){
    .nav{
        display:flex;
    }
}
.nav_link{
    color:#718096;
    font-size: 1.225rem;
    font-weight:600;
    transform:color 0.1s;
}
.nav_link:hover{
    color:var(--link-color);
}
.contact_button{
    display: none;
    border:none;
    border-radius: 0.375rem;
    background-color: #2127AF;
    color:var(--background-color);
    transform:all 0.1s;
    padding:0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
@media screen and (min-width:1000px){
    .contact_button{
        display:block;
    }
}
.contact_button:hover{
    background-color: #5254f8;
}
.menu_button{
border:none;
display:none;
border-radius: 0.375rem;
background-color:var(--background-color);
font-size: 1rem;
font-weight: 600;
padding:0.5rem 0.9rem;
}
@media screen and (max-width:1000px){
    .menu_button{
    display: block;}
}
.menu_icon{
    height:1.5rem;
    width:1.5rem;
}
.main_section{
    max-width:1280px;
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding:0.6rem;
    justify-content: center;
    align-items: center;
    margin:1rem auto;
}
.content_left{
    display:flex;
    flex-direction: column;
    text-align: center;
    animation: slide_from_left 1s ease-in forwards ;
    opacity:0;
}
@keyframes slide_from_left {
    0%{
        opacity:0;
        transform: translateX(-100%);
    }
    100%{
        opacity:1;
        transform: translateX(0%);
    }
}
.section_para{
    font-size: 1.15rem;
    font-weight: 600;
color: var(--primary-color);
}
.section_title{
    font-size: 2.25rem;
    /* font-weight: 600; */
    padding:1.1rem;
color:var(--text-color);
}
.section_discription{
    color:var(--gray);
    font-size: 1.13rem;
}
.button_group{
    display:flex;
    gap:2rem;
    padding:1rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}
.start,.take{
    /* margin-top:2rem; */
    /* display: none; */
    border:none;
    border-radius: 0.375rem;
    background-color: #2127AF;
    color:var(--background-color);
    transform:all 0.1s;
    padding:0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.take{
    background-color: var(--dark-gray);
}
.start:hover{
    background-color: #5254f8;
}
.take:hover{
    background-color: var(--light-gray);
}
.content_right{
    display: flex;
    align-items: center;
    justify-content: center;


}
.image_container{
    border:none;
    border-radius: 1.25rem;
   /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.101); */
    overflow:hidden;
    height:60vh;

}
.sec_image{
    height:100%;
    width:100%;
 
}
@media screen and (min-width:1000px){
    .main_section{
        flex-direction: row;
        /* height:50vh; */
 /* width:100%; */
    }
    .content_left{
       max-width: 50%;
       text-align: left;
    }
    .section_title{
        padding-left: 0;
        font-size: 3rem;
        font-weight: bolder;
    }
    .button_group{
        justify-content: start;
        padding:0;
    }
    .section_para{
        font-size: 1rem;
    }
    .image_container{
        height:80vh;
    }
    .section_discription{
        color:var(--gray);
        font-size: 1.25rem;}
}
.company_container{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom:2rem;
    /* text-align: right; */
    padding:1rem,2rem;
    animation: slide_from_left 1s ease-in forwards ;
    opacity:0;
}
@keyframes slide_from_left {
    0%{
        opacity:0;
        transform: translateX(-100%);
    }
    100%{
        opacity:1;
        transform: translateX(0%);
    }

}
.company-grid{
display:grid;
grid-template-columns: repeat(2,1fr);
gap:3rem;
padding:1rem;
margin-top:1rem;
/* background-color:rgb(201, 199, 199); */
}
.compan-logo{
/* width:1rem;
height:1rem; */
font-size: 1rem;
font-weight:500;
color:var(--gray);
display:flex;
gap:0.5rem;
align-items: center;
justify-content: center;
/* text-align: center; */
}
.anchor{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.image-logo{
    height:2rem;
   width:auto; 
}
.logo_text{
    color:var(--text-color);
    font-size: 1.3rem;
    /* display: block;  */
    text-align: start;
}
@media screen and (min-width:1000px){
    .company-grid{
        display:grid;
grid-template-columns: repeat(4,1fr);
gap:3rem;
padding:1rem;
margin-top:1rem;
    }
    .logo_text{
        font-size: 1.5rem;
    }
    .follow{
        font-size: 1.55rem;
        font-weight: bold;
    }
}
.feature_container{
background-color:#e8e2e2;
padding:2.5rem 0 ;
text-align: center;
}
.feeature_Content{
max-width: 800px;
margin:0 auto;
padding:0 2rem;
}
.main_info{
display:flex;
flex-direction: column;
gap:1rem;
}
.main_tittle{
    font-size: 2.25rem;
    font-weight: bold;
}
.main_disc{
    color:var(--gray);
    font-size: 1.1rem;
}
.feature_grid{
display:grid;
grid-template-columns: repeat(2,1fr);
gap:1rem;
margin-top:1.3rem;
}
@media screen and (max-width:768px){
    .feature_grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.feature_card{
display:flex;
flex-direction: column;
align-items: center;
    justify-content: center;
    background-color: #046380;
    padding:1rem ;
    border-radius:1.5rem ;
    gap:0.5rem;
    
transition:all 1s linear;
}
.feature_card:hover{
    transform:scale(1.1)
}
.feature_info{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.feature_title{
color:var(--background-color);
font-weight: bold;
font-size: 1.3rem;
}
.feature_dsc{
    color:var(--background-color);
    font-size: 1rem;
}
.feature_image{
    width:2.5rem;
    height:2.5rem;
    border-radius: 50%;
}
.icon_container{
    /* height:5rem;
    width:5rem; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature_card:nth-child(1){
    background-color:#046380 ;
 
}
.feature_card:nth-child(2){
    background-color:#ff5757 ;
}
.feature_card:nth-child(3){
    background-color:#ffe11a ;
}
.feature_card:nth-child(4){
    background-color:#20b2ff ;
}
.feature_card:nth-child(5){
    background-color:#85db18 ;
}
.feature_card:nth-child(6){
    background-color:#9768d1 ;
}
.testimonial_container{
margin: 0rem  auto;
padding: 2rem;
max-width:1280px;
}
.testimoialcontent{
/* text-align: center; */
/* margin: 2rem  auto; */
display: flex;
flex-direction: column;
/* justify-content: center; */
gap:2rem;
align-items: center;
justify-content: center;
}

.testimonial_heading{
font-size:1.9rem;
font-weight:bold;
}
.testmonial_grid{
    display:grid;
    padding:1.25rem;
    /* height:30vh; */
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap:1.5rem;
/* border:1px solid black; */
}
.testimonials_card{

/* display:grid;
grid-template-columns: repeat(auto-fill,minmax(400px,1fr));*/
display: flex;
flex-direction: column;
/* justify-content: center; */
/* gap:2rem; */
align-items: center;
justify-content: center;
padding:0.8rem 0.4rem;
gap:0.75rem;
border:1px solid #858181;
border-radius: 0.5rem;;

transition:all 1s linear;
}
.testimonials_card:hover{
    transform:scale(1.1);
    border:1px solid #444141;
    box-shadow:0 3px 8px rgba(0 ,0 ,0 ,0.3);
}
.test_img{
width:3rem;
height:3rem;
/* border:1px solid #d0cece; */
border-radius:50%;
}
.testimonial_details{
/* font-size: 0.5rem; */
color:#555;
}
.name{
    font-size: 1.2rem;
    font-weight: 600;
    color:var(--accent-color);

}
.name_disc{
    font-size: 0.85rem;
font-weight: 500;
color:#555;
}
.testimpnial_text{
    color:#555;
    font-size: 1rem;
}

.newsletter_container{
    background-color: var(--background-color);
    /* padding:2rem; */
max-width: 1280px;;
height:55vh;
margin:0 auto;
display: flex;
justify-content: center;
}
.newsletter_content{
    display:flex;
    align-items: center;
    /* justify-content: center; */
    background-color:#e8e2e2 ;
    height:100%;
    width:60%;
    border-radius: 0.25rem;;
    box-shadow:0 3px 8px rgba(0 ,0 ,0 ,0.3);
}

.newlettter_left{
    width:60%;
    height:100%;
    position:relative;
/* display:none; */
}
@media screen and (max-width:1000px){
    .newlettter_left{
        display:none;
    }
    .newsletter_content{
        width:55%;
        height:80%;
    }
    .newsletter_container{
        padding:2rem;
    }
}
@media screen and (max-width:780px){
    .newsletter_container{height:auto}
    .news_form{flex-wrap: wrap;
    max-width:40%;
    display:flex;
    /* flex-wrap: wrap; */
    margin-bottom: 1rem;
    gap:0.75rem;}
    .news_email{
        background-color: var(--background-color);
        /* width:100%; */
        color:#333;
        outline:none;
        border: 1px solid #ccc; 
        border-radius: 0.5rem;;
        padding:0.5rem 0.75rem ;
    }
    .news_email:focus{
        border-color:#2563eb;
        box-shadow:0 3px 8px rgba(0 ,0 ,0 ,0.3)
    }
    .news_send{
        color:white;
        background-color:#2127AF;
        border:none;
        border-radius: 0.25rem;;
        padding:0.5rem 1rem ;
    }
    .news_send:hover{
        background-color: var(--dark-gray);
        box-shadow:0 3px 8px rgba(0 ,0 ,0 ,0.3);
    }}
.newlettter_img{
    width:100%;
    height:100%;
     object-fit:inherit;
    object-position: center;
    border-top-left-radius: 0.25rem;;
    border-bottom-left-radius: 0.25rem;;
    position:absolute;
    inset: 0;
     }
.newlettter_right{
    display:flex;
    flex-direction: column;
    gap:1rem;
    /* padding:1rem; */
    justify-content: center;
    align-items: flex-start;
    min-width:60%;
     content: icon;
}
.newsletter_info{
    padding:0 1.5rem;
}
.news_tittle{
    color:#2127AF;
    font-size: 1.5rem;
    font-weight: bold;
}
.news_disc{
    text-align: left;
    color:#555;
}
.news_form{
    padding:0 1.5rem;
    display:flex;
    /* flex-wrap: wrap; */
    margin-bottom: 1rem;
    gap:0.75rem;
}
.news_email{
    background-color: var(--background-color);
    /* width:100%; */
    color:#333;
    outline:none;
    border: 1px solid #ccc; 
    border-radius: 0.5rem;;
    padding:0.5rem 0.75rem ;
}
.news_email:focus{
    border-color:#2563eb;
    box-shadow:0 3px 8px rgba(0 ,0 ,0 ,0.3)
}
.news_send{
    color:white;
    background-color:#2127AF;
    border:none;
    border-radius: 0.25rem;;
    padding:0.5rem 1rem ;
}
.news_send:hover{
    background-color: var(--dark-gray);
    box-shadow:0 3px 8px rgba(0 ,0 ,0 ,0.3);
}
.Privacy_policy{
    font-size:0.76rem;
    padding:0 1.5rem;
    color:#555;
}
.news_link{
    text-decoration: underline;
    color:var(--link-color)
}
.footer_container{
    background-color: var(--background-color);
    margin:5rem 0;
    padding:0 2rem;
    display:flex;
    flex-direction: column;
    max-width: 100vw;
    /* border-top:0.0001rem solid #555; */
    justify-content: center;
    align-items: center;

    /* gap:2rem; */
}
.footer{
height: 40vh;;
    max-width: 80vw;
    padding:1rem 2rem;margin:0 2rem;
    text-align:left;
    display:flex;
    /* gap:2rem; */
    flex-direction: row;
    justify-content: space-around;
    
}
@media screen and (max-width:1000px){
    .footer{
    flex-direction:column;
    justify-content: center;
    height:auto;
}}
.footer_top{
    width:35%;

}
@media screen and (max-width:1000px){
    .footer_top{
        justify-content: center;
    }
}
/* .company_ka_logo{



    display:flex;
    justify-content: flex-start;
} */
.logo_link{
    display:flex;
   align-items: center;
   font-size: 2rem;
   font-weight:bold ;
   color:var(--text-color);
   text-decoration: none;
   gap:0.5rem;
}
.logo_img{
height:3rem;
width:4rem;
}
.company_logo_text{
font-size:1.5rem;

}

.filler-text{
    font-size: 1rem;;
    padding:0.5rem;
    color:#555;
}
.socials{
    padding:0.5rem;
    /* width:1.25rem; */
    /* height:1.25rem; */
    display:flex;
    flex-direction:row;
    gap:0.75rem;
    /* justify-content: flex-start; */
    align-items: flex-start;
}
.images-logo{
    width:1.85rem;
    height:1.85rem; 
   
}
#linkedin{
    width:2.5rem;
    height:1.85rem;
    gap:0.5rem;
  
}
/* .footer_grid{
    width:65%;
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    /* gap:0 2rem; */
 .footer_grid_column{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   gap:4rem;
    row-gap: 5rem;
    padding:1rem 4rem;
   
    /* margin:2rem; */
 }
 .products{
    font-size: 1.2rem;
    font-weight: bold;
    gap:1rem;
 }
 .footer_grid_heading{
    display:flex;
    flex-direction: column;
    gap:1rem;
 }
 .footer_links_list{
    display:flex;
    flex-direction: column;
    
    text-decoration: none;
    list-style-type:none;
    font-size: 1rem;
    gap:1rem;
    color:#555; 
  
 }
 .footer_link{
    color:#555;

 }
.footer_copyright{
    text-align: center;
}
/* @media screen and (max-width:100px){
    .footer_copyright{}
} */